BenchMark Pandas 2.0 with arrow datatypes

In [7]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz -O data/tripdata.csv.gz

--2023-06-26 16:04:59--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230626%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230626T150459Z&X-Amz-Expires=300&X-Amz-Signature=dc0b501fe733697d3a7c2b767200babfd2134aee6454a9c1cd91a7422494c814&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-06-26 16:04:59--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/f6895842-79e6-4a43-9458-e5b0b454a340?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230626%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230626T150459Z&X-Amz-Expires=300&X-Amz-Signature=dc0b501fe733697d3a7c2b767200babfd2134aee6454a9c1cd91a7422494c814&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dyellow_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 25031880 (24M) [application/octet-stream]
Saving to: ‘data/tripdata.csv.gz’

data/tripdata.csv.g 100%[===================>]  23.87M  15.5MB/s    in 1.5s

2023-06-26 16:05:01 (15.5 MB/s) - ‘data/tripdata.csv.gz’ saved [25031880/25031880]

In [3]:
!wget  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet -O data/tripdata.parquet

--2023-06-26 16:02:41--  https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 18.244.115.167, 18.244.115.220, 18.244.115.107, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|18.244.115.167|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21686067 (21M) [application/x-www-form-urlencoded]
Saving to: ‘data/tripdata.parquet’

data/tripdata.parqu 100%[===================>]  20.68M  20.7MB/s    in 1.0s

2023-06-26 16:02:43 (20.7 MB/s) - ‘data/tripdata.parquet’ saved [21686067/21686067]

In [4]:
csv_file = 'data/tripdata.csv.gz'
parquet_file = 'data/tripdata.parquet'

In [5]:
import pandas as pd

In [11]:
data_parquet = pd.read_parquet(parquet_file)

In [12]:
data_parquet.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Columns: 19 entries, VendorID to airport_fee
dtypes: datetime64[ns](2), float64(12), int64(4), object(1)
memory usage: 198.6+ MB

In [16]:
data_parquet_pyarrow = pd.read_parquet(parquet_file, engine='pyarrow', dtype_backend='pyarrow')

In [17]:
data_parquet_pyarrow.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1369769 entries, 0 to 1369768
Columns: 19 entries, VendorID to airport_fee
dtypes: double[pyarrow](12), int64[pyarrow](4), string[pyarrow](1), timestamp[us][pyarrow](2)
memory usage: 197.6 MB

In [15]:
data_parquet_pyarrow.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [18]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv -O data/taxi_zone_lookup.csv

--2023-06-26 16:11:04--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.109.229, 52.217.120.208, 52.216.38.80, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.109.229|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘data/taxi_zone_lookup.csv’

data/taxi_zone_look 100%[===================>]  12.03K  --.-KB/s    in 0.1s

2023-06-26 16:11:04 (113 KB/s) - ‘data/taxi_zone_lookup.csv’ saved [12322/12322]

In [19]:
zone_lookup = pd.read_csv('data/taxi_zone_lookup.csv')

In [20]:
zone_lookup.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 265 entries, 0 to 264
Columns: 4 entries, LocationID to service_zone
dtypes: int64(1), object(3)
memory usage: 8.4+ KB

In [21]:
tweets_data = pd.read_parquet('data/tweets.parquet')

In [22]:
tweets_data.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2658300 entries, 0 to 2658299
Columns: 3 entries, text to raw_json
dtypes: datetime64[ns](1), object(2)
memory usage: 60.8+ MB

In [27]:
tweets_data_pyarrow = pd.read_parquet('data/tweets.parquet', columns=['created_at', 'text'], dtype_backend='pyarrow')

In [28]:
tweets_data_pyarrow.info(verbose=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2658300 entries, 0 to 2658299
Columns: 2 entries, created_at to text
dtypes: string[pyarrow](1), timestamp[us][pyarrow](1)
memory usage: 173.8 MB

In [29]:
%timeit tweets_data_pyarrow.text.str.endswith('.')

10.5 ms ± 141 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [30]:
%timeit tweets_data.text.str.endswith('.')

437 ms ± 4.55 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

It may take too much spaec on the laptop but we can see that string operation are a bit faster with arrow datatypes than with normal datatype.

In [31]:
%timeit tweets_data_pyarrow.text.str.contains('rdc')

263 ms ± 2.25 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [32]:
%timeit tweets_data.text.str.contains('rdc')

606 ms ± 7.68 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)