In [194]:
import pandas as pd
import numpy as np

In [195]:
!pip install xlrd

Requirement already satisfied: xlrd in /Users/espoir-mur/Projects/Personnal/twitter-analysis/.venv3/lib/python3.6/site-packages (1.2.0)

In [196]:
# !pwd

In [209]:
# change the path according to your problem
loaded_sheet = pd.read_excel("/Users/espoir-mur/Downloads/Flow problem (1).xlsx",
              index_col=0,
              names=['Time', 'Pump_A', 'Pump_B', 'Flow'],
              usecols=[0,1,2,3])

In [198]:
value = (0,)

In [199]:
filtered_dataframe = loaded_sheet[loaded_sheet.Pump_A.isin(value) & loaded_sheet.Pump_B.isin(value)]
# query the rows where columns Pump_A & Pump_B is zero
filtered_dataframe.head(1)

          Pump_A  Pump_B  Flow
Time
05:00:00       0       0     8

In [208]:
# reference : https://stackoverflow.com/a/46008267/4683950

In [200]:
loaded_sheet.replace(0, np.nan, inplace=True)

In [201]:
loaded_sheet['count']=~(loaded_sheet.Pump_A.isnull() & loaded_sheet.Pump_B.isnull())

In [202]:
loaded_sheet['count'] = loaded_sheet['count'].astype(int)

In [203]:
loaded_sheet['count'] = loaded_sheet['count'].cumsum()

In [204]:
loaded_sheet['Group'] = loaded_sheet['count']

In [205]:
loaded_sheet = loaded_sheet[loaded_sheet.Pump_A.isnull() & loaded_sheet.Pump_B.isnull()]

In [206]:
def get_empty_row(group):
    print(group)
    return list(group.Time)[0], list(group.Time)[-1], np.average(group.Flow)

In [207]:
loaded_sheet.reset_index().groupby('Group').apply(get_empty_row)

       Time  Pump_A  Pump_B  Flow  count  Group
0  05:00:00     NaN     NaN   8.0      5      5
1  06:00:00     NaN     NaN   6.0      5      5
       Time  Pump_A  Pump_B  Flow  count  Group
0  05:00:00     NaN     NaN   8.0      5      5
1  06:00:00     NaN     NaN   6.0      5      5
       Time  Pump_A  Pump_B  Flow  count  Group
2  08:00:00     NaN     NaN   5.0      6      6
3  09:00:00     NaN     NaN   7.0      6      6
       Time  Pump_A  Pump_B  Flow  count  Group
4  14:00:00     NaN     NaN   5.0     10     10
5  15:00:00     NaN     NaN   7.0     10     10
6  16:00:00     NaN     NaN   6.0     10     10
       Time  Pump_A  Pump_B  Flow  count  Group
7  19:00:00     NaN     NaN   5.0     12     12
       Time  Pump_A  Pump_B  Flow  count  Group
8  21:00:00     NaN     NaN   8.0     13     13
9  22:00:00     NaN     NaN   6.0     13     13

Group
5     (05:00:00, 06:00:00, 7.0)
6     (08:00:00, 09:00:00, 6.0)
10    (14:00:00, 16:00:00, 6.0)
12    (19:00:00, 19:00:00, 5.0)
13    (21:00:00, 22:00:00, 7.0)
dtype: object